@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;       /* #FFFFFF */
    --card: 210 20% 96%;           /* #F1F4F7 */
    --text-primary: 205 52% 10%;   /* #0C1B26 */
    --text-secondary: 207 9% 60%;  /* #8F99A1 */
    --primary: 207 74% 46%;       /* #1F7ECC */
    --income: 122 39% 49%;         /* #4CAF50 */
    --expense: 355 78% 56%;        /* #E63946 */
  }

  .dark {
    --background: 207 47% 4%;     /* #050A0E */
    --card: 205 52% 10%;           /* #0C1B26 */
    --border: 205 38% 20%;         /* #203647 */
    --text-primary: 206 21% 71%;   /* #A7B6C2 */
    --text-secondary: 207 9% 60%;  /* #8F99A1 */
    --primary: 207 74% 46%;       /* #1F7ECC */
    --income: 123 41% 57%;         /* #66BB6A */
    --expense: 0 100% 66%;         /* #FF5252 */
  }
}
